{% load static %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> <!-- slim ver and integrity attr removed for ajax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> -->

<!-- jquery confirm -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- Django Secure AJAX JS -->
<script src="{% static 'js/csrf.ajax.js' %}"></script>

<!-- explorify Custom JS -->
<script src="{% static 'js/explorify.js' %}"></script>


<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- JavaScript Plugins                        -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- (!) Include all compiled plugins (below), or include individual files as needed -->

<!-- Modernizer JS -->
<script src="{% static 'js/vendors/modernizr/modernizr-2.6.2.min.js' %}"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="{% static 'js/vendors/owl-carousel/owl.carousel.min.js' %}"></script>

<!-- FlexSlider -->
<script type="text/javascript" src="{% static 'js/vendors/flexslider/jquery.flexslider-min.js' %}"></script>

<!-- Coutdown -->
<script type="text/javascript" src="{% static 'js/vendors/countdown/jquery.countdown.js' %}"></script>

<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- Custom Template JavaScript                   -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>