{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
{% endblock %}
{% block content %}
<div class="text-center">
	<h1>{{ title }}</h1>
</div>

	<div class="row">
		<div class="col">
			<p>{{ content }}</p>
			<img src="{% static 'img/beach.jpg' %}" class="fluid">
		</div>
	</div>

	<div class="row">
		<div class="col">
			{% if request.user.is_authenticated %}
				<h2>Premium</h2>
				{{ premium_content }}
			{% endif %}
		</div>
	</div>
{% endblock %}

		

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>