.text-align-center {
	text-align: center;
}

.ori_price {
	color:red;
	text-decoration:line-through;
	font-family: 'Oxygen', sans-serif;
}

#price{
	/*font-family: 'Roboto Slab', serif;*/
	font-family: 'Oxygen', sans-serif;
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;
}